#container{
    width: 500px;
    height: 400px;
    padding: 30px;
    border: 2px solid #FF0000;
    margin: 30px;
    box-sizing: border-box;
    top: 100px;
    left: 200px;
    bottom: 0;
    right:0 ;
}
span{
    background: #FF0000;
    display: block;
}
/* li{
    background: #000;
    color: #FFF;
    border: 2px solid #ccc;
    padding: 30px;
    display: inline-block;
}
*/
li{
    background: #000;
    color: #FFF;
    border: 0px solid #ccc;
    padding: 20px;
    display: block;
    float: left;
}

#bloco01,#bloco02,#bloco03{
    position: absolute;
    width: 300px;
    height: 300px;
    font: bold 2em/8 sans-serif;
    text-align: center;
    color: #FFF;
}
#bloco01{
    background: #EE0000;
    left: 0;
    top: 0;

}
#bloco02{
   
    background: #0000DD;
    left: 30px;
    top: 150px;
}
#bloco03{
    
    background: #00CC00;
    left: 60px;
    top: 300px;
}