#container{
    width: 500px;
    height: 400px;
    padding: 30px;
    border: 2px solid #FF0000;
    margin: 30px;
    box-sizing: border-box;
    top: 100px;
    left: 200px;
    bottom: 0;
    right:0 ;
}
span{
    background: #FF0000;
    display: block;
}
/* li{
    background: #000;
    color: #FFF;
    border: 2px solid #ccc;
    padding: 30px;
    display: inline-block;
}
*/
li{
    background: #000;
    color: #FFF;
    border: 0px solid #ccc;
    padding: 20px;
    display: block;
    float: left;
}